body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  background: #f5f5f5;
}

.appContainer {
  display: flex;
  gap: 20px;
  background: #000000;
  color: white;
  padding: 50px;
  border-radius: 12px;
  width: 100%;
  margin: 40px auto;
}

.infoBox {
  max-width: 350px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}