/* src/components/MovieGrid/MovieGrid.css */
.movie-grid {
  display: grid;
  /* Cria colunas responsivas:
     - Tenta criar colunas de no mínimo 250px
     - Em telas maiores, cria 4 colunas (1fr)
  */
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
  padding-bottom: 50px;
}

.movie-card-placeholder {
  background-color: #333;
  border-radius: 8px;
  /* Força a proporção de poster (2:3) */
  aspect-ratio: 2 / 3;
  transition: transform 0.3s ease, box-shadow 0.3s;
}

.movie-card-placeholder:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.5);
  cursor: pointer;
}