/* src/components/GenreFilter/GenreFilter.css */
.genre-filter {
  display: flex;
  justify-content: center;
  gap: 12px;
  margin: 30px 0;
  flex-wrap: wrap;
}

.genre-button {
  background-color: rgba(51, 51, 51, 0.7);
  color: #ffffff;
  border: 1px solid transparent;
  border-radius: 20px;
  padding: 10px 20px;
  font-size: 0.9rem;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;
}

.genre-button:hover {
  background-color: #e50914; /* Tom de vermelho principal */
}

.genre-button.active {
  background-color: #e50914;
  color: #ffffff;
}