/* src/components/Header/Header.css */

.headerNav {
  display: flex;
  justify-content: space-between;
  align-items: center; 
  height: 80px; 
  padding: 0 40px; 
  box-sizing: border-box;
  position: fixed; 
  top: 0;
  left: 0;
  width: 100%;
  background: linear-gradient(to bottom, rgba(0,0,0,0.7) 0%, rgba(0,0,0,0) 100%);
  z-index: 1000;
  transition: background-color 0.4s ease;
}

.headerNav.scrolled {
  background-color: #0b0a0d; 
}

.navLeft, .navRight, .navCenter {
  display: flex;
  align-items: center;
  gap: 20px;
}

.navCenter {
  flex-grow: 1;
  justify-content: center;
  max-width: 500px;
  width: 100%;
}

.navRight {
  justify-content: flex-end; 
}

.logo {
  height: 40px; 
  display: block; 
}

/* TODOS OS ESTILOS .searchBar, .searchInput, .searchIcon, 
  .searchBar-wrapper, .search-suggestions, .search-clear-icon 
  FORAM REMOVIDOS DAQUI E MOVIDOS PARA O 'SearchBar.css'
*/

.navLink,
.loginButton {
  display: flex;
  align-items: center;
  gap: 8px; 
  text-decoration: none;
  font-size: 1rem;
  font-weight: 600;
  transition: color 0.3s;
}

.navLink {
  color: #aaa; 
  padding: 8px 0; 
  background: none;
  border: none;
}

.navLink:hover {
  color: #fff; 
}

.navLink.active {
  color: #fff;
  position: relative;
}

.navLink.active::after {
  content: '';
  position: absolute;
  bottom: -4px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: white;
}

.loginButton {
  background-color: #E50914;
  color: white;
  padding: 10px 20px; 
  border-radius: 6px;
  border: none;
  cursor: pointer;
  margin-left: 10px; 
  transition: background-color 0.3s ease;
}

.loginButton:hover {
  background-color: #B00710; 
  color: white;
}