/* src/index.css */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700;900&display=swap');
body, html {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  background-color: #000;
  color: white;
}

.App {
  width: 100%;
  height: 100vh;
}