.card {
    width: 100%;
    max-width: 300px;
    background-color: #ffffff;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s;
    font-family: "Montserrat", sans-serif;
}

.card:hover {
    transform: translateY(-5px);
}

.cardFigura {
    margin: 0;
}

.cardImagem {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.cardInfos {
    padding: 12px;
    text-align: center;
}

.cardTitulo {
    margin: 10px 0;
    font-size: 24px;
}

.cardDescricao {
    font-size: 18px;
    color: #555;
    margin: 6px 0;
}

.cardPreco {
    color: #dd5482;
    font-weight: bold;
}

.btnFavoritar {
    display: block;
    margin: 10px auto 0;
    background-color: #ffeff5;
    border: 1px solid #dd5482;
    color: #dd5482;
    padding: 5px 15px;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.btnFavoritar:hover {
    background-color: #dd5482;
    color: white;
}

/* Borda ou destaque para o card selecionado */
.card.selecionado {
    border: 2px solid #dd5482;
    background-color: #fff9fb; /* Um fundo levemente rosado */
}

/* Estilo para o botão quando já é favorito */
.btnFavoritar.ativo {
    background-color: #dd5482;
    color: white;
}